#root {
  font-family:monospace;
}

.header{
  display:block;
  background-color: black;
  text-align: center;
  color: azure;
  width: 100%;
}

div .card {
  width: 200px;
  height: 100px;
  border: 2px solid black;
  margin: 20px;
  text-align: center;
  background-color: cadetblue;
}

div .app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div .card a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

div .card a:hover{
  color: aqua;
}